<div class="post-table-mng-container" [@flyIn]="'active'">
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="row">
        <div class="col-md-12">
            <p-table #dt [columns]="cols" [value]="postList" [lazy]="true" [paginator]="true" [rows]="10"
                [totalRecords]="totalRecords" [loading]="loading" (onPage)="onPage($event)">
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>
                                        {{rowData["title"]}}
                                    </h5>
                                </div>
                                <div class="col-md-3" style="text-align:right;">
                                    <button class="btn btn-success btn-xs" (click)="editPost(rowData['id'])">编辑</button>
                                    <button class="btn btn-danger btn-xs" (click)="delPost(rowData['id'])">删除</button>
                                </div>
                            </div>
                            <div class="row" style="color:#999;">
                                <div class="col-md-3">
                                    <span>{{rowData["time"]}}</span>
                                </div>
                                <div class="col-md-3">
                                    <span>{{rowData["userName"]}}</span>
                                </div>
                                <div class="col-md-2">
                                    <span>阅读数：{{rowData["readTimes"]}}</span>
                                </div>
                                <div class="col-md-2">
                                    <span>评论数：{{rowData["commentTimes"]}}</span>
                                </div>
                                <div class="col-md-2">
                                    <span>点赞数：{{rowData["likedTimes"]}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>