<div class="post-table-mng-container" [@flyIn]="'active'">
    <div class="row">
        <div class="col-md-12">
            <p-table #dt [columns]="cols" [value]="postList" [lazy]="true" [paginator]="true" [rows]="10"
                [totalRecords]="totalRecords" [loading]="loading" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div style="text-align:left;">
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>