<div class="user-table-mng-container" [@flyIn]="'active'">
    <div class="row">
        <div class="col-md-12">
            <p-table #dt [value]="userList" [lazy]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
                [loading]="loading" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div style="text-align:left;">
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    </div>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>
                                        {{rowData["email"]}}
                                    </h5>
                                </div>
                                <div class="col-md-3" style="text-align:right;">
                                    <button class="btn btn-success btn-xs">编辑</button>
                                    <button class="btn btn-danger btn-xs">删除</button>
                                    <button class="btn btn-info btn-xs">未定义</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>