<div class="post-list-container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-item-container" *ngFor="let post of postList">
                <h4>
                    <a [routerLink]="['/post/post-detail',post.id]">{{post.title}}</a>
                    <span class="pull-right user-name-intitle">{{post.nickName}}</span>
                </h4>
            </div>
            <p-paginator rows="{{rows}}" totalRecords="{{totalElements}}" first="{{offset}}" pageLinkSize="3"
                (onPageChange)="pageChanged($event)">
            </p-paginator>
        </div>
    </div>
</div>