<div class="role-edit-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{panelTitle}}</h3>
    </div>
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="form.form.valid" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !roleName.valid }">
          <label class="col-md-2 control-label">名称：</label>
          <div class="col-md-10">
            <input required maxlength="12" name="roleName" [(ngModel)]="role.roleName" #roleName="ngModel" type="text"
              class="form-control" placeholder="请输入名称">
            <div *ngIf="form.submitted && !roleName.valid" class="text-danger">角色名称必须输入</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !roleKey.valid }">
          <label class="col-md-2 control-label">代码：</label>
          <div class="col-md-10">
            <input required maxlength="12" name="roleKey" [(ngModel)]="role.roleKey" #roleKey="ngModel" type="text"
              class="form-control" placeholder="请输入名称">
            <div *ngIf="form.submitted && !roleKey.valid" class="text-danger">角色代码必须输入</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">权限：</label>
          <div class="col-md-10">
            <p-pickList [source]="allPermissions" [target]="selectedList" [responsive]="true" dragdrop="true"
              sourceHeader="可选权限" targetHeader="现有权限">
              <ng-template let-permission pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{permission.permissionStr}}</div>
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !remark.valid }">
            <label class="col-md-2 control-label">备注：</label>
            <div class="col-md-10">
              <textarea rows="5" required maxlength="256" name="remark" [(ngModel)]="role.remark" #remark="ngModel" type="text"
                  class="form-control" placeholder="备注">
              </textarea>
            </div>
        </div>
        <div *ngIf="error" class="col-md-offset-2 col-md-10 alert alert-danger">{{error}}</div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-margin-1rem" (click)="save()">{{btnLabel}}</button>
            <button type="button" class="btn btn-default" (click)="cancel()">取消</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>